.App {
  min-width: 400px;
  max-width: 600px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: flex-start ;
  align-items: center;
}

.explainer {
  margin: 0 auto;
  width: 75%;
}

html {
  background-color: black;
}

p, table, li.time-since {
  color: black;
}

h1 {
  margin: 20px auto;
  min-width: 400px;
  max-width: 600px;
  text-align: center;
  color: white; 
}

input, button {
  position: relative;
  height: 25px;
  border-radius: 3px;
  border: 0px;
  width: 100%;
  margin: 10px auto;
  background-color: white;
}

.rc-time-picker {
  width: 101%;
}

textarea {
  position: relative !important;
  width: 99%;
  border-radius: 3px;
}

.tracker-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

form {
  margin: auto;
  width: 75%;
}

.warn-button {
  background-color: rgb(249, 53, 53);
  width: 75%;
}

.clear-button {
  background-color: pink;
  width: 75%;
}

a {
  color: blue;
}

.remove-button {
  width: 20px;
}

.confirmation-modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.confirmation-modal button {
  width: 300px;
}

.app-section {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  width: 75%;
  margin: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10px 10px 20px 10px;
  border-radius: 5px;
}

.copyright {
  color: white;
}

@media(max-width: 600px) {
  .App {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
  }

  .app-section {
    width: 95%;
  }

  table {
    width: 95%;
  }
}