.App {
  min-width: 400px;
  max-width: 600px;
  margin: auto;
  min-height: 100vh;
}

.explainer {
  width: 350px;
  margin: 0 auto;
}

html {
  background-color: black;
}

p, table, h1, li.time-since {
  color: white;
}

h1 {
  margin: 20px auto;
  min-width: 400px;
  max-width: 600px;
  text-align: center;
}

input, button {
  position: relative;
  height: 25px;
  border-radius: 3px;
  border: 0px;
  width: 100%;
  margin: 10px auto;
  background-color: white;
}

.rc-time-picker {
  width: 101%;
}

textarea {
  position: relative !important;
  width: 99%;
  border-radius: 3px;
}

@media(max-width: 600px) {
  .App {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
  }
}

.tracker-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

form {
  margin: auto;
  width: 75%;
}

.warn-button {
  background-color: rgb(249, 53, 53);
  width: 75%;
}

.clear-button {
  background-color: pink;
  width: 75%;
}

a {
  color: dodgerblue;
}

.remove-button {
  width: 20px;
}